#add-button-cont {
	display: flex;
	justify-content: center;
}

#add-button-cont button {
	padding: 10px 20px;
}


#submitButton {
	display: flex;
	justify-content: end;
}

#errorMsg {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	color: red;
	padding-left: 15px;
	display: none;
}



#successMsg {
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
	color: green;
	padding-left: 15px;
	display: none;
}

ul.ulStyle {
	border: 1px #54575c solid;
	border-top-width: 0px;
	border-radius: 0px 0px 20px 20px;
	width: 100%;
	list-style: none;
	padding: 0px 
}

li.liStyle {
	padding: 5px 3px 5px 16px;
	cursor: pointer;
}
li.liStyle:hover {
	background-color: rgb(248, 249, 250);
}