#saleInput1 , #saleInput2 , #saleInput3 {
	padding: 10px;
	font-size: 15px;
}

#itemMatches {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
 
}

#itemMatches li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: none /* Make it into a block element to fill the whole list */
}

#itemMatches li button {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  text-align: left;
  width: 100%;
}

#itemMactches li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#itemMactches li button:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
  text-align: left;
  width: 100%;
}


#saleTable {
  text-align: center;
}

#saleTable td {
  padding-top: 12px;
}

#saleTable td {
  padding-top: 12px;
}

#saleTable td:last-child {
  padding-top: 8px;
}




#submitSale {
	display: flex;
	justify-content: center;
	padding: 20px;
}

#errorSale {
  display: none;
}

#totalSale {
  justify-content: space-between;
}

#totalSale p {
  font-size: 30px;
  font-weight: 600;
  width: auto;
  display: inline;
}

#finalSaleSubmit {
  width: auto;

}

#btnClose, #btnEdit {
  font-size: 12px;

}

#btnClose {
  margin-left: 4px;
  font-weight: 500;
  border: none;
  background-color: #dc3545;
  color: white;
  border-radius: 10px;
  padding: 8px 12px;
}

#btnEdit {
  font-weight: 500;
  border: none;
  background-color: #0d6efd;
  color: white;
  border-radius: 10px;
  padding: 8px 12px;
}

#saleAddedSucc {
	display: none;
}

#saleAddedError {
	display: none;
}
